body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
}

#main {
    width: 500px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#container{
    width:600px;
    margin:0 auto;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

.typingArea{
    width:600px;
    margin-top:20px;
    height: 160px;
    overflow: hidden;
    background-color:#fff;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#textarea{
}

#submitChat{
    margin:10px;
    float: right;
}

.userbox{
    width:600px;
    height:50px;
    overflow:hidden;
    background-color:#fff;
    padding:10px;
    margin-top:20px;
}
